body{background-color: #ffd70060;}
    h1{color: darkcyan;}
    h1{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
    a:hover{background-color: #ffbf00;}